#hpBanner {
  width: 100%;
  max-width: 2500px;
  margin: 0 auto 20px;
  display: block;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #222;
}

#card-container, #whiteflare-container, #megaevo-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  padding: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  border-radius: 10px;
}

.card h2 {
  margin: 10px 0 5px;
  font-size: 16px;
}

.card p {
  margin: 4px 0;
  font-size: 12px;
}


 #banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  overflow: hidden;
  user-select: none;
    }
#hpBanner {
  position: absolute;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: 0; /*behind everything*/
}


    /* shared styles for all three cards */
    #hpCard, #hpCard2, #hpCard3 {
      position: relative;
      justify-content: center;
      width: 180px;
      height: 250px;
      border-radius: 10px;
      margin: 0 -45px;
      transition: 0.5s;
      box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.1);
      transform-origin: bottom center;
      background: linear-gradient(#fff2, transparent);
    }

    /* Initial rotation for each card */
    #hpCard {
      transform: rotate(-10deg);
      z-index: 1;
    }
    #hpCard2 {
      transform: rotate(0deg);
      z-index: 2;
    }
    #hpCard3 {
      transform: rotate(10deg);
      z-index: 1;
    }

    /* Hover effect for all cards */
    #hpCard:hover, #hpCard2:hover, #hpCard3:hover {
      box-shadow: 0 35  px 35px rgba(0, 0, 0, 0.35);
      transform: rotate(0deg) scale(1.1);
      margin: 0 10px;
      z-index: 3;
    }

